<h3 class="titulo_form">Incidencias</h3>
  <div class="card  darken-1">
    <div class="card-content Black-text">
      <%= form_for(@equipment) do |f| %>
        <% if @equipment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

            <ul>
            <% @equipment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :area_id %><br>
          <%= f.collection_select(:area_id, @area, :id, :name, { prompt: "Seleccione el servicio" }) %>
        </div>
        <div class="row">
          <div class="field col s6">
            <%= f.label :codigo, "Nombre" %><br>
            <%= f.text_field :codigo %>
          </div>
          <div class="field col s6">
            <%= f.label :marca %><br>
            <%= f.text_field :marca %>
          </div>
          <div class="field col s6">
            <%= f.label :tipo %><br>
            <%= f.text_field :tipo %>
          </div>
          <div class="field col s6">
            <%= f.label :garantia %><br>
            <%= f.text_field :garantia %>
          </div>
        </div>
        <br>
        <div class="right-align">
          <%= f.submit 'Guardar', class:'btn' %>
        </div>
      <% end %>
    </div>
  </div>
