<br>
<div class="container z-depth-3 panel">
<h3 class=" titulo">Equipo</h3>
<%= link_to 'Agregar Equipo', new_equipment_path, class:'btn bo' %>
  <table class="striped centered" id="my-table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Garantia</th>
        <th>Entrada</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @equipment.each do |equipment| %>
        <tr>
          <td><%= equipment.codigo %></td>
          <td><%= equipment.marca %></td>
          <td><%= equipment.tipo %></td>
          <td><%= equipment.garantia %></td>
          <td><%= equipment.entrada %></td>
          <!--<td><%= link_to 'Show', equipment %></td>
          <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>-->
          <td><%= link_to 'Eliminar', equipment, method: :delete, data: { confirm: 'Are you sure?' },class:'btn red' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<br>
<script type="text/javascript">
$(document).ready(function(){
    $('#my-table').dynatable();
  });
</script>
