<div class="container z-depth-3 panel">
  <h3 class=" titulo">Incidencia</h3>
  <%= link_to 'Registrar', new_incidence_path, class:'btn bo' %>
    <table class="striped centered" id="my-table">
  <thead>
    <tr>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @incidences.each do |incidence| %>
      <tr>
        <td><%= incidence.prioridad %></td>
        <td><%= incidence.estado %></td>
        <td><%= incidence.comentario %></td>
        <td>
          <%= link_to 'Eliminar', incidence, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn red' %>
          <%= link_to 'Editar', edit_incidence_path(incidence,area_id: incidence.area_id), class:'btn'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#my-table').dynatable();
  });
</script>
