<br>
<div class="container z-depth-3 panel">
<h3 class=" titulo">Clientes</h3>
<%= link_to 'Registrar', newClient_path, class:'btn bo' %>
  <% if current_user.rol == "root" %>
  <table class="striped centered" id="my-table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Compañia</th>
        <th>Contacto</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <% if client.avatar.blank? %>
            <td><img src="assets/usuario.png" alt="" class:"responsive-img" style="widht:50px; height:50px;" /></td>
          <%else%>
          <td><img src="<%=client.avatar%>" alt="" class:"responsive-img" style="widht:50px; height:50px;"/></td>
          <% end %>
          <td><%= client.company %></td>
          <td><%= client.contacto %></td>
          <td><%= client.telefono %></td>
          <td><%= client.user.email %></td>
          <!--<td><%= link_to 'Edit', edit_client_path(client) %></td>-->
          <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn red' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#my-table').dynatable();
  });
</script>
