<div class="row cliente">
  <div class=" col s7 center" style="margin-top:5%;">
    <h1>Bienvenido </h1>
    <div class=" center">
      <h2>Gestion de incidencias </h2>
    </div>
  </div>
  <div class="col s4 center">
    <img src="assets/image14" alt="" class:"responsive-img" width="100%" style="margin:15%;"/>
  </div>
  <br>
</div>
<div class="center">
  <ul id="categories" class="clr" style="margin-left:370px;">
  <%=link_to  new_incidence_path, :href=>"#modal1" do%>
    <li>
      <div class="">
        <img src="assets/media/image6" alt="" class:"responsive-img" width="150px"/>
        <h1 >Incidencias</h1>
        <p>Alta incidencias</p>
      </div>
    </li>
  <%end%>
  <%=link_to new_equipment_path(), :href=>"#modal2" do%>
    <li>
      <div class="">
        <img src="assets/media/image9" alt="" class:"responsive-img" width="150px"/>
        <h1>Equipo</h1>
        <p>Alta de Equipo</p>
      </div>
    </li>
  <%end%>
  <%=link_to incidences_path do%>
    <li>
      <div class="">
        <img src="assets/media/image10" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>Todas sus incidencias</p>
      </div>
    </li>
    <%end%>
    <%=link_to client_path(@current_user.clients.last.id) do%>
    <li style="margin-left:89px; margin-top:-51px;">
      <div class="">
        <img src="assets/media/image16" alt="" class:"responsive-img" width="150px"/>
        <h1>Incidencia</h1>
        <p>Registro de incidencias</p>
      </div>
    </li>
    <%end%>
    <%=link_to equipment_index_path() do%>
    <li style= "margin-top:-51px;">
      <div class="">
        <img src="assets/media/image19" alt="" class:"responsive-img" width="150px"/>
        <h1>Historia de cambios</h1>
        <p>Cambios que se realizaton en el quipo</p>
      </div>
    </li>
    <%end%>
  </ul>
</div>
<br>
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Alta de equipos</h4>
    <p><%=render 'equipo'%></p>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h3 class="content">Incidencias</h3>
    <p>
      <div class="row">
        <%@area.each do |area|%>
          <div class="col s4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span><%=area.name%></span><br>
                <p>
                  soporte técnico a todo el hardware dentro de
                  las instalaciones correspondientes a cada uno
                  de los cliente.
                </p>
              </div>
              <div class="card-action">
                <%=link_to 'Agregar incidencia',new_incidence_path(area_id: area.id)%>
              </div>
            </div>
          </div>
          <%end%>
      </div>
    </p>
  </div>

</div>
<script type="text/javascript">
$(document).ready(function(){
 $('.modal').modal();
});
</script>

</script>
