<br>
<div class="row white ">
  <div class="col s3 card white darken-3" style="padding:0px;">

    <div class="col s12  center"><br>
      <%=image_tag(@technical.avatar, size:"250x250")%>
    </div>
    <div class="col s12 center white">
      <h5><%=@technical.name%></h5>
    </div>
    <div class="col s12 center">
      <strong>Estado:</strong>
      <p><%=@technical.ststus%></p>
    </div>
    <div class="col s12 center">
      <strong>Hora de entrada:</strong>
      <p><%=@technical.horaE%></p>
    </div>
    <div class="col s12 center">
      <strong>Hora de salida:</strong>
      <p><%=@technical.horaS%></p><br>
    </div>
  </div>
  <div class="col s9 white ">
    <div class="card col s8">
      <div class="card-content">
        <span class="card-title">Total de incidencias asiganadas<br></span><br>
        <p><%= area_chart Incidence.where(technical_id: @technical.id, estado: "Asignada").group_by_hour(:updated_at).count,download: true %></p>
      </div>
    </div>
    <div class="card col s4">
      <div class="card-content">
        <span class="card-title">Total de incidencias</span>
        <h2><%=@technical.incidences.count%></h2>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
 $('.modal').modal();
});
</script>
